.head {
  background-color: #c9ff64;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  padding-bottom: 20px;
}

.up {
 
  position: relative;
  top: 0;
  left: 45%;
  width: 150px;
  height: 150%;
  margin-top: -5px;
  margin-bottom: 20px;
}

.imgg {
  width: 6%;
  height: 100%;
  position: absolute;
  top: 0;
  margin-top: -5px;
  padding-left: 10%;
  /* z-index: -1; */
}

.imgg1 {
  width: 6%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10%;
  /* z-index: -1; */
}

.mid{
    width: 170vh;
    height: 80vh;
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4d4d4d;
    padding-top: 2px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 100px #d2ff7e;
}


p{
  margin-right: 10em;
  padding: 0 2em 2em 0;
  color: rgb(255, 255, 255);
  font-size: 1em;

}
b{
    color: rgb(255, 255, 115);
}
h4{
    color: rgb(255, 255, 115);
    font-size: 1.25em;
    text-align: center;
}
.cent{
    text-align: center;
    color: rgb(255, 133, 19);
}
.code_part{
    background-color: rgb(44, 44, 44);
    /* font-size: 1.25em; */
    width: 42%;
    height: 5%;
}
.oooo{
  margin-left: 2em;
  padding: 0 2em 2em 0;
}
